@import "tailwindcss";

body {
  background: #ffffff;
}

@theme {
  /* Creates the font-simplon, font-inter, and font-caslon classes */
  --font-simplon: var(--font-simplon), sans-serif;
  --font-inter: var(--font-inter), sans-serif;
  --font-caslon: var(--font-caslon), serif;
  
  /* This forces Simplon to be the default font for the entire app */
  --default-font-family: var(--font-simplon), sans-serif;
}
